button, input {
    margin-left: 1rem;
    height: 30px;
    font-size: 18px;
}

img {
    margin: 10px;
    cursor: pointer;
    width: calc(100% / 3 - 20px);
}

form {
    margin: 10px 0;
}

.no-image-placeholder {
    font-size: 30px;
    display: block;
    margin: 30px auto;
}